---
import CardLaunch from "../components/CardLaunch.astro"
import { getLatestLaunches } from "../service/spacex";
const launches = await getLatestLaunches()
---
<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        launches.map(
            ({id, links, details,flight_number:flightNumber, success,name }) =>(
            <CardLaunch
            id={id}
            img={links.patch.small}
            name={name}
            details={details}
            flightNumber={flightNumber}
            sucess={success}
            />
        ))

    }
</div>